@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
  font-family: 'Montserrat';
}


.box{
  overflow: hidden;
  width: 1010px;
  padding: 30px;
  margin: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ebebeb;
  border: 10px solid #4B5D6B;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.lyjjpg{
  padding-top: 20px;
  padding-left: 70px;
  float: left;
}

.mju {
  text-align: right;
  font-size: 16px;
  color:#7c7c7c;
}

.name {
  font-size: 48px;
  text-align: right;
  font-weight: bold;
  color: #282828;
  float: right;
}

.detail {
  text-align: right;
  font-size: 16px;
  padding-left: 100px;
  float: right;
}

.information{
  padding: 70px;
  float: left;
}

.profile {
  border-radius: 70%;
}

.photo{
  width: 190px;
  padding: 30px;
  float: left;
  transition: all 0.2s linear;
}

.photo:hover {
  transform: scale(1.5);
  transition: transform 1s;
  filter: brightness(70%);
}

